.notification {
    border: 2px solid black; 
    margin-bottom: 40px;
}

.container .notification {
    box-shadow: 0 0 20px black;
    background-color: black;
}

.day {
    border: 2px solid white;
    box-shadow: 0 0 10px white;
    padding: 10px;
}


.notification .day {
    font-size: 40px;
}

.btn {
   text-align: center;
   margin-bottom: 20px;
}

.btn .searchMeal {
    border: 1px solid black;
}

.btn .searchDrink {
    border: 1px solid black;
}


.rowMeal .mealName {
    color: black;
    font-size: 20px; 
    margin-bottom: 20px;
    margin-left: 20px;
}

.rowMeal .mealIngredients {
    color: black;
    margin-left: 60px;
    margin-bottom: 40px;
}

.rowDrink .drinkName {
    color: black;
    font-size: 20px; 
    margin-bottom: 20px;
    margin-left: 20px;
}

.rowDrink .drinkIngredients {
    color: black;
    margin-left: 60px;
    margin-bottom: 40px;
}

.drinkImg{
    height:40%;
    width:40%;
}

.recipeBtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.rList{

    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;

    margin: 10px;
}